@media screen and (max-width: 600px) {
  .cs--geninq--header {
    text-align: center;
  }

  .contact--us--map {
    width: 340px !important;
    margin: auto !important;
  }
}

.contact--us--map {
  width: 450px;
  height: 340px;
  border: 0;
  padding-top: 1rem;
}
