@media screen and (max-width: 600px) {
  .inquiryform {
    margin-top: 2rem !important;
  }

  .inquiryform--button--div {
    flex-direction: column !important;
    max-width: 100vw !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .inquiryform--button {
    min-width: 100% !important;
  }

  .inquiryform--button--div > * {
    margin: 0.5rem 0 !important;
  }

  .inquiryform--postsubmit,
  .inquiryform--postsubmit--button {
    max-width: 100vw !important;
  }
}

.inquiryform--form {
  padding: 2rem;
  border-radius: 0.2rem;
  --c: #f2f3ee; /* the border color */
  --b: 0.2rem; /* the border thickness*/
  --g: 2rem; /* the gap on hover */

  /* padding: calc(var(--g) + var(--b)); */
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%)
      0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%) /
      var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
}

.inquiryform--form:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.inquiryform--header {
  text-align: center;
}

.inquiryform--textfield {
  min-width: 30vw !important;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.inquiryform--textfield:nth-of-type(5) textarea {
  height: 7rem !important;
}

.inquiryform--button--div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  margin-top: 2rem;
}

.inquiryform--postsubmit {
  padding: 2rem;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inquiryform--postsubmit--button {
  text-align: center;
  margin-top: 1rem;
}

.error--msg {
  margin-bottom: 2rem !important;
}
