@media screen and (max-width: 600px) {
  .affrule--block {
    max-width: 80vw;
    padding-left: 10vw;
  }
  .affrule--next--step {
    display: block !important;
  }

  .affrule--about--aff {
    max-width: 100% !important;
  }

  .affrule--next--step {
    display: block !important;
  }

  .affrule--next--list {
    padding-left: 0 !important;
  }

  .affrule,
  .affrule--next--title,
  .affrule--next--list {
    text-align: center;
  }

  .affrule--next--list li:nth-of-type(1) {
    padding-top: 0;
  }

  .affrule--next--list li {
    padding-top: 1.5rem;
  }
}

.affrule--block {
  margin: 3rem 0;
}

.affrule--para {
  padding-top: 1rem;
  line-height: 1.5rem;
}

.affrule--about--aff {
  max-width: 80%;
}

.affrule--reg--button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.affrule--next--list {
  padding: 1rem 0 0 0.5rem;
}

.error--msg {
  color: red;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}
