@media screen and (max-width: 600px) {
  .affrule--block {
    max-width: 80vw;
    padding-left: 10vw;
  }
  .affsuc--next--step {
    display: block !important;
  }
}

.affrule--block {
  margin: 3rem 0;
}

.affrule--para {
  padding-top: 1rem;
  line-height: 1.5rem;
}

.affrule--about--aff {
  max-width: 80%;
}

.affrule--reg--button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.error--msg {
  color: red;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}
