.form-control {
  margin: 1rem 0;
  font-family: 'DM Sans', sans-serif;

  max-width: 50vw;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  /* width: 100%; */
  font: inherit;
  border: 2px solid #b7b7b7;
  border-radius: 3.2px;
  background: rgba(0, 0, 0, 0.06);
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 0.15rem 0.75rem;
  height: 3.5rem;
}

.form-control input:hover,
.form-control textarea:hover {
  background: rgba(183, 183, 183, 0.2);
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: rgba(183, 183, 183, 0.5);
  font-size: 1rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  /* background: #1b1c20; */
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
}
