@media screen and (max-width: 600px) {
  .button {
    min-width: 100% !important;
    text-align: center !important;
  }
}

.button {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  text-transform: uppercase;
  padding: 0.375rem 1rem;
  min-width: 64px;
  border: 1px solid #f2f3ee;
  border-radius: 3.2px;
  background: #f2f3ee;
  color: #0d0c11;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: transparent;
  border-color: #f2f3ee;
  color: #f2f3ee;
}

.button:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button--inverse {
  background: transparent;
  color: #f2f3ee;
}

.button--inverse:hover,
.button--inverse:active {
  color: #f2f3ee;
  background: rgba(183, 183, 183, 0.5);
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #f2f3ee;
  color: #979797;
  border-color: #f2f3ee;
  cursor: not-allowed;
  font-weight: 500;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
