@media screen and (max-width: 600px) {
  .form-control {
    min-width: 90vw !important;
  }
}

.form-control {
  margin: 0.5rem 0;
  font-family: 'DM Sans', sans-serif;
  min-width: 44vw;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
  display: inline;
}

.form-control .side--button {
  display: inline;
  float: right;
  font-size: 0.875rem;
  color: #bcbcbc;
  cursor: pointer;
}

.form-control .side--button:hover {
  color: #959595;
}

.form-control input,
.form-control textarea {
  /* width: 100%; */
  font: inherit;
  border: 2px solid #f2f3ee;
  border-radius: 3.2px;
  background: rgba(0, 0, 0, 0.06);
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 0.15rem 0.75rem;
  height: 3.5rem;
}

.form-control input:hover,
.form-control textarea:hover {
  background: rgba(183, 183, 183, 0.2);
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: rgba(183, 183, 183, 0.5);
  font-size: 1rem;
}

.form-control input:focus,
.form-control textarea:focus {
  border: 0;
  outline: 2px solid #8386f5;
  background: rgba(0, 0, 3, 0.3);
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid p {
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
}
