.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image--upload--button--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image--upload--button--section button:nth-child(1) {
  margin-right: 0.75rem;
}

.image--upload--button--section button:nth-child(2) {
  margin-left: 0.75rem;
}
