@media screen and (max-width: 600px) {
  .forgetPW {
    margin: 2.5rem 0 !important;
  }

  .forgetPW--instruction {
    max-width: 100% !important;
  }
}

.forgetPW {
  font-family: 'DM Sans', sans-serif;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgetPW--greeting {
  font-size: 1.5rem;
}

.forgetPW--instruction {
  margin-top: 1rem;
  max-width: 80%;
  font-size: 1rem;
}

.forgetPW--form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgetPW--form--submit {
  margin-top: 2rem;
}
