@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  background: linear-gradient(45deg, #1c1917, #1f2937);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  height: 100%;
}

/* For sticky footer */
#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
